.hero-section {
    position: relative; /* Ensure the hero section is positioned relative for the overlay to be positioned absolutely */
    background-image: url("../../assets/bg.jpg");
    background-size: cover; /* Adjust background size to cover the section */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the background image */
}

.hero-section::before {
    content: ""; /* Required to create a pseudo-element */
    position: absolute; /* Position the overlay absolutely within the hero section */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background: rgba(0, 0, 0, 0.6); /* Black color with 50% opacity */
    z-index: 1; 
}

/* Ensure content within the hero section is visible above the overlay */
.hero-section .content {
    position: relative; 
    z-index: 2; 
}
